* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 1200px;
}
body .container {
  margin-top: 0 auto;
  width: 80%;
  clear: both;
}
body .logo {
  margin-left: 40px;
  display: inline;
  padding: 10px;
  color: orangered;
}
body h4 {
  border: 3px black solid;
  display: inline;
  padding: 10px;
  color: orangered;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation .nav {
  display: inline-block;
  border-bottom: 3px solid orangered;
  margin: 20px;
}
.navigation .nav-bar {
  margin-left: 700px;
}
.description .photo {
  margin-top: 50px;
  height: 290px;
  width: 270px;
  position: relative;
  margin-left: 100px;
}
.description .about {
  margin-top: -60px;
  margin-left: 305px;
  position: absolute;
  height: 200px;
  width: 500px;
}
.description .live {
  margin-top: 5px;
  margin-left: 305px;
  font-weight: bold;
  text-transform: uppercase;
}
.description .about-text {
  color: orangered;
  font-size: 50px;
  position: relative;
  bottom: 3em;
}
.introduction {
  position: relative;
  background-color: lightgray;
  max-width: 1100px;
  max-height: 500px;
  height: 400px;
  padding: 5%;
}
.details,
li {
  list-style-type: none;
  text-align: left;
  left: 300px;
  text-align: right;
  width: 50%;
  float: left;
}
.hello {
  font-size: 40px;
}
.name {
  font-size: 20px;
}
.box {
  position: relative;
  border: 2px black solid;
  width: 50%;
  height: 300px;
  background-color: white;
  float: right;
  padding: 5%;
}
.experience {
  margin-left: 80px;
}
.experience .contain {
  max-width: 400px;
  display: inline-block;
  height: 200px;
  padding: 60px;
  margin-bottom: 20px;
}
.project {
  max-width: 1000px;
}
.project-images {
  height: 200px;
  margin: none;
}
.contact {
  padding-bottom: 70px;
}
.comment::placeholder {
  color: red;
  margin-top: 30px;
  height: 150px;
}
button {
  height: 30px;
  width: 60px;
  margin-left: 445px;
  color: white;
  background-color: orangered;
  border-radius: 5px;
}
input {
  height: 30px;
  width: 500px;
  display: block;
  margin-bottom: 15px;
  background-color: lightgrey;
  color: grey;
}
form {
  margin-left: 400px;
}
.closing img {
  height: 2em;
  width: 2em;
  vertical-align: middle;
  text-align: center;
}
